n8n_workflow.json
{
  "name": "Complaint Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/complaints/recent/",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "hours",
                "value": "1"
              },
              {
                "name": "status",
                "value": "open"
              }
            ]
          }
        }
      },
      "id": "get-recent-complaints",
      "name": "Get Recent Complaints",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "category",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "техническая",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 0
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "category",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "оплата",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 1
            }
          ]
        },
        "options": {}
      },
      "id": "category-switch",
      "name": "Category Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 Новая техническая жалоба!\n\nID: {{ $json.id }}\nТекст: {{ $json.text }}\nТональность: {{ $json.sentiment }}\nКатегория: {{ $json.category }}\n\nВремя: {{ $now }}",
        "additionalFields": {}
      },
      "id": "telegram-notification",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEETS_SPREADSHEET_ID }}",
        "sheetName": "Complaints",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $now }}",
            "ID": "={{ $json.id }}",
            "Текст": "={{ $json.text }}",
            "Тональность": "={{ $json.sentiment }}",
            "Категория": "={{ $json.category }}",
            "Статус": "open"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/complaints/{{ $json.id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "closed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-technical",
      "name": "Update Status (Technical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/complaints/{{ $json.id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "closed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-payment",
      "name": "Update Status (Payment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Complaints": {
      "main": [
        [
          {
            "node": "Category Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Switch": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Update Status (Technical)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Update Status (Payment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "complaint-processing-workflow",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "complaints",
      "name": "complaints"
    }
  ]
} 